# http://EditorConfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

# Code files
[*.{cs,scriban-cs}]
indent_size = 4

# XML and XML-based files
[*.{xml,props,targets,ruleset,config,xaml,nuspec,resx}]
indent_size = 2

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj,msbuildproj}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.{ps1,cmd,bat}]
indent_size = 2

# Copyright headers (https://www.boost.org/users/license.html#FAQ)
[*.cs]
file_header_template = \nCopyright Miro Knejp 2021.\nDistributed under the Boost Software License, Version 1.0.\n(See accompanying file LICENSE.txt or copy at https://www.boost.org/LICENSE_1_0.txt)\n
dotnet_diagnostic.IDE0073.severity = error

[*.cs]
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/

# Language rules
# -----------------------------------------------------------------------------
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error

dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error

dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:error

dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:error
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = ture:error
dotnet_style_prefer_simplified_boolean_expressions = ture:error

dotnet_style_coalesce_expression = true:error
dotnet_style_null_propagation = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error

# Style rules
# -----------------------------------------------------------------------------
