<!--
SPDX-FileCopyrightText: 2021 The dotVariant Authors

SPDX-License-Identifier: CC0-1.0
-->

<configuration>
  <!-- <config>
    <add key="globalPackagesFolder" value=".packages" />
  </config> -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
